/* 전역 css 정의 */
h1 {
    font-size: 30px;
    color: red;
    background-color: yellow;
}

#main_head {
    color: aqua;
}

.head_title {
    background-color: gray;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[target="_blank"]{
    color: orange;
}

a:link {
    color: cyan;
}

a:visited {
    color: purple;
}

/* footer 영역 css 정의 */
h5 {
    text-align: center;
    font-size: 10px;
    background-color: grey;
    color: #222222;
}

h5:hover {
    background-color: blue;
}

#title_gear:hover {
    color: red;
}

input:focus {
    background-color: orangered;
}

div.main {
    width: 200px;
    height: 30px;
    /* background-color: #dddddd; */
    background-image: url(../images/bg2.png);
    /* background-repeat: norepeat; 
    background-size: cover; */
    text-align: center;
    border: blue outset 5px;
    /* border-radius: 10px; */
    margin: 10px 50px 20px 30px;
    padding: 5px 2px;
}

div:hover button {
    color: red;
}

div#sub_btn:hover button {
    color: #cccc99a3;
    background-color: yellow;
    font-weight: bolder;
    font-size: 20px;
}

button {
    font-style: italic;
    margin: 3px;
}