/* 전역 css 정의 */
h1 {
    font-size: 30px;
    color: red;
    background-color: yellow;
}

#main_head {
    color: aqua;
}

.head_title {
    background-color: gray;
}

a[target="_blank"]{
    color: orange;
}

a:link {
    color: cyan;
}

a:visited {
    color: purple;
}

/* footer 영역 css 정의 */
h5 {
    text-align: center;
    font-size: 10px;
    background-color: grey;
    color: #222222;
}

h5:hover {
    background-color: blue;
}

#title_gear:hover {
    color: red;
}

input:focus {
    background-color: orangered;
}